# dependencies
/node_modules

# next.js
/.next/
next.config.js

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# Container
Dockerfile
.dockerignore

# Misc
.idea
.git
README.md
LICENSE
build.sh
