.pagination {
    margin: 3rem 0 0;
    padding: 0;
    list-style: none;

    & li {
        margin-right: 1em;
        display: inline-block;
        color: #9b9b9b;
        font-size: 1.25rem;
    }

    & a[data-active='true'] {
        color: #222;
        font-weight: bold;
    }
}

.navigation {
    width: 0;

    @media (min-width: 769px) {
        width: 7rem;
        display: block;
    }

    & ul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        z-index: 1;
        transform: translateY(100%);
        transition: opacity 200ms;
        opacity: 0;
        text-align: right;
        list-style: none;

        @media (min-width: 769px) {
            width: 7rem;
            top: auto;
            display: block;
            transform: translateY(0);
            opacity: 1;
        }
    }

    & li {
        margin-bottom: 1.75rem;
        padding: 0 1.5rem 0 0;
        font-size: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 769px) {
            padding: 0;
            font-size: 1rem;
        }
    }

    &[data-active='true'] {
        & ul {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.current {
    text-decoration: underline;
}

.author {
    color: #9b9b9b;
}

.burger {
    width: 38px;
    height: 38px;
    position: fixed;
    top: 1rem;
    left: 1.25rem;
    cursor: pointer;
    background-color: rgb(255 255 255 / 70%);
    z-index: 2;

    @media (min-width: 769px) {
        display: none;
    }

    & div {
        width: 28px;
        height: 2px;
        position: absolute;
        top: calc(50% - 2px / 2);
        left: calc(50% - 28px / 2);
        background: #222;
        transition: all 150ms ease-in;
    }

    & div:nth-child(1) {
        transform: translateY(-10px);
    }

    & div:nth-child(2) {
        width: calc(28px - 6px);
    }

    & div:nth-child(3) {
        transform: translateY(10px);
    }

    &[data-active='true'] {
        & div:nth-child(1) {
            transform: rotate(45deg);
        }

        & div:nth-child(2) {
            opacity: 0;
        }

        & div:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

.button {
    padding: 0.25em 0.5em;
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(21 132 125 / 20%);
    color: #15847d;
    transition: background-color 0.3s ease;

    &:active,
    &:hover {
        background-color: rgb(21 132 125 / 40%);
    }
}

.date {
    color: #9b9b9b;
}

.copyright {
    font-size: 0.75rem;
    text-align: center;
}

.social {
    & a {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2em;
        }
    }
}
