.pagination {
    margin: 3rem 0 0;
    padding: 0;
    list-style: none;

    & li {
        margin-right: 1em;
        display: inline-block;
        color: var(--light-gray);
        font-size: 1.25rem;

        @media (prefers-color-scheme: dark) {
            color: var(--gray);
        }
    }

    & a[data-active='true'] {
        color: var(--gray);
        font-weight: bold;

        @media (prefers-color-scheme: dark) {
            color: var(--light-gray);
        }
    }
}

.tag {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;

    & h1 {
        margin: 0 0 2rem;
        padding: 0;
        font-size: 1.75rem;
        font-weight: 100;
        color: var(--light-gray);

        & span {
            font-weight: bold;
            color: var(--gray);
        }

        @media (min-width: 769px) {
            font-size: 2rem;
        }
    }

    & ul {
        margin: 0;
        padding: 0;
        flex: 1 0 auto;
    }

    & li {
        margin-bottom: 1.5rem;
        list-style: none;
    }
}

.author {
    color: var(--light-gray);
}

.burger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 1rem;
    left: 1.25rem;
    cursor: pointer;
    z-index: 2;

    @media (min-width: 769px) {
        display: none;
    }

    & div {
        width: 28px;
        height: 2px;
        position: absolute;
        top: calc(50% - 2px / 2);
        left: calc(50% - 28px / 2);
        background: var(--light);
        transition: all 150ms ease-in;
    }

    & div:nth-child(1) {
        transform: translateY(-10px);
    }

    & div:nth-child(2) {
        width: calc(28px - 6px);
    }

    & div:nth-child(3) {
        transform: translateY(10px);
    }

    &[data-active='true'] {
        & div {
            background: var(--gray);

            @media (prefers-color-scheme: dark) {
                background: var(--light);
            }
        }

        & div:nth-child(1) {
            transform: rotate(45deg);
        }

        & div:nth-child(2) {
            opacity: 0;
        }

        & div:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

.button {
    padding: 0.25em 0.5em;
    display: inline-block;
    border-radius: 3px;
    background-color: var(--button);
    color: var(--button-text);
    transition: background-color 0.3s ease;

    &:active,
    &:hover {
        background-color: var(--button-active);
    }

    @media (prefers-color-scheme: dark) {
        color: var(--point);
    }
}

.date {
    color: var(--light-gray);
}

.copyright {
    font-size: 0.75rem;
    text-align: center;
}

.social {
    & a {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2em;
        }
    }
}

.locale {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    display: none;
    align-items: flex-end;
    gap: 1rem;
    list-style: none;
    font-size: 1.25rem;
    z-index: 2;

    @media (min-width: 769px) {
        left: 0;
        width: 7rem;
        display: flex;
        flex-direction: column;
    }

    &[data-active='true'] {
        display: flex;
        animation: fade-in 200ms linear 0s normal forwards;
    }

    & li {
        cursor: pointer;
    }

    & li[data-active='true'] {
        text-decoration: underline;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
